    html{
    background-color: #DBDEDF;
    }
    
    header {
      position: sticky;
      top: 0;
      background-color: hsl(207, 8%, 21%);
      color: #fff;
    }

    /* Estilos para el sidebar */
    aside {
      float: left;
      width: 10%;
    }

    /* Estilos para el contenido */
    main {
     margin-left: 60px;
     min-height:100%;
     height:900px;
     padding:0px;
     background-color: #DBDEDF;
    /* background-color: #DBDEDF;*/
    }

